name: Deploy to EC2 (Desarrollo)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # Paso 1: Hacer checkout del repositorio
      - name: Checkout repository
        uses: actions/checkout@v2

      # Paso 2: Configurar la clave SSH para conectar con las instancias EC2
      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER2_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ec2-44-203-60-54.compute-1.amazonaws.com >> ~/.ssh/known_hosts
          ssh-keyscan -H ec2-54-82-163-150.compute-1.amazonaws.com >> ~/.ssh/known_hosts
          ssh-keyscan -H ec2-3-84-140-143.compute-1.amazonaws.com >> ~/.ssh/known_hosts
          ssh-keyscan -H ec2-54-174-205-227.compute-1.amazonaws.com >> ~/.ssh/known_hosts

      # Paso 3: Desplegar en las instancias
      - name: Deploy to Desarrollo1
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@ec2-44-203-60-54.compute-1.amazonaws.com << 'EOF'
            cd /home/ubuntu
            if [ ! -d "ec2-balanced" ]; then
              git clone https://github.com/Wsvargas/ec2-balanced.git
              cd ec2-balanced
            else
              cd ec2-balanced
              git pull origin main
            fi
            if ! cmp -s index.html /var/www/html/index.html; then
              sudo cp index.html /var/www/html/
            fi
            sudo systemctl restart apache2
          EOF

      - name: Deploy to Desarrollo2
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@ec2-54-82-163-150.compute-1.amazonaws.com << 'EOF'
            cd /home/ubuntu
            if [ ! -d "ec2-balanced" ]; then
              git clone https://github.com/Wsvargas/ec2-balanced.git
              cd ec2-balanced
            else
              cd ec2-balanced
              git pull origin main
            fi
            if ! cmp -s index.html /var/www/html/index.html; then
              sudo cp index.html /var/www/html/
            fi
            sudo systemctl restart apache2
          EOF

      - name: Deploy to Desarrollo3
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@ec2-3-84-140-143.compute-1.amazonaws.com << 'EOF'
            cd /home/ubuntu
            if [ ! -d "ec2-balanced" ]; then
              git clone https://github.com/Wsvargas/ec2-balanced.git
              cd ec2-balanced
            else
              cd ec2-balanced
              git pull origin main
            fi
            if ! cmp -s index.html /var/www/html/index.html; then
              sudo cp index.html /var/www/html/
            fi
            sudo systemctl restart apache2
          EOF

      - name: Deploy to Desarrollo4
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@ec2-54-174-205-227.compute-1.amazonaws.com << 'EOF'
            cd /home/ubuntu
            if [ ! -d "ec2-balanced" ]; then
              git clone https://github.com/Wsvargas/ec2-balanced.git
              cd ec2-balanced
            else
              cd ec2-balanced
              git pull origin main
            fi
            if ! cmp -s index.html /var/www/html/index.html; then
              sudo cp index.html /var/www/html/
            fi
            sudo systemctl restart apache2
          EOF
      - name: Validate Load Balancer
        run: |
          curl -I http://Dev-ALB-1527302763.us-east-1.elb.amazonaws.com | grep "200 OK"