name: Deploy to EC2 (QA)

on:
  workflow_dispatch:
  push:
    branches:
      - test

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up SSH key
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SERVER2_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H <IP_QA1> >> ~/.ssh/known_hosts
          ssh-keyscan -H <IP_QA2> >> ~/.ssh/known_hosts

      - name: Deploy to QA1
        if: github.ref == 'refs/heads/test'
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@<IP_QA1> << 'EOF'
            cd /var/www/html || git clone https://github.com/Wsvargas/ec2-balanced.git
            cd ec2-balanced
            git pull origin test
            sudo cp index.html /var/www/html/
            sudo systemctl restart apache2
          EOF

      - name: Deploy to QA2
        if: github.ref == 'refs/heads/test'
        run: |
          ssh -o StrictHostKeyChecking=no ubuntu@<IP_QA2> << 'EOF'
            cd /var/www/html || git clone https://github.com/Wsvargas/ec2-balanced.git
            cd ec2-balanced
            git pull origin test
            sudo cp index.html /var/www/html/
            sudo systemctl restart apache2
          EOF
